{{#if template}}
  {{yield}}
{{else}}
<div class="ember-pdf-sidebar-container">
  {{#pdf-toolbar}}
    <div class="ember-pdf-toolbar-left">
    </div>
    <div class="ember-pdf-toolbar-center">
    </div>
    <div class="ember-pdf-toolbar-right">
      <div {{action "deleteSelectedPages"}} class="ember-pdf-toolbar-button">Delete</div>
    </div>
  {{/pdf-toolbar}}
  {{#view class="ember-pdf-page-thumbnails-container"}}
    {{pdf-page-thumbnails pageViews=pageViews viewName="parentView.pageThumbnailsView"}}
  {{/view}}
</div>
<div class="ember-pdf-main-container">
  {{#pdf-toolbar}}
    <div class="ember-pdf-toolbar-left">
    </div>
    <div class="ember-pdf-toolbar-center">
      {{pdf-toolbar-select class="ember-pdf-zoom-select ember-pdf-toolbar-button"
        content=zoomOptions
        optionLabelPath="content.label"
        optionValuePath="content.scale"
        value=documentView.scale}}
    </div>
    <div class="ember-pdf-toolbar-right">
      <div {{action "print"}} class="ember-pdf-toolbar-button">Print</div>
      <div {{action "close"}} class="ember-pdf-toolbar-button">Close</div>
    </div>
  {{/pdf-toolbar}}

  {{#view class="ember-pdf-document-container" viewName="documentContainerView"}}
    {{pdf-document src=src scale=scale viewName="documentView"}}
    {{pdf-loading message=loadingMessage isVisible=isPDFLoading documentContainerView=view}}
  {{/view}}


</div>
<div id="ember-pdf-print-container"></div>
{{!-- https://github.com/mozilla/pdf.js/blob/master/web/viewer-snippet-mozPrintCallback-polyfill.html --}}
<div id="mozPrintCallback-shim" hidden>
  <style scoped>
    #mozPrintCallback-shim {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 9999999;
      display: block;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.5);
    }
    #mozPrintCallback-shim[hidden] {
      display: none;
    }
    @media print {
      #mozPrintCallback-shim {
        display: none;
      }
    }
    #mozPrintCallback-shim .mozPrintCallback-dialog-box {
      display: inline-block;
      margin: -50px auto 0;
      position: relative;
      top: 45%;
      left: 0;
      min-width: 220px;
      max-width: 400px;
      padding: 9px;
      border: 1px solid hsla(0, 0%, 0%, .5);
      border-radius: 2px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
      background-color: #474747;
      color: hsl(0, 0%, 85%);
      font-size: 16px;
      line-height: 20px;
    }
    #mozPrintCallback-shim .progress-row {
      clear: both;
      padding: 1em 0;
    }
    #mozPrintCallback-shim progress {
      width: 100%;
    }
    #mozPrintCallback-shim .relative-progress {
      clear: both;
      float: right;
    }
    #mozPrintCallback-shim .progress-actions {
      clear: both;
    }
  </style>
  <div class="mozPrintCallback-dialog-box">
    Preparing document for printing...
    <div class="progress-row">
      <progress value="0" max="100"></progress>
      <span class="relative-progress">0%</span>
    </div>
    <div class="progress-actions">
      <input type="button" value="Cancel" class="mozPrintCallback-cancel">
    </div>
  </div>
</div>
{{/if}}